.root{
    -fx-background: rgb(236, 196, 0);
    -fx-font-family: "Calibri";
    -fx-font-size: 18pt;
    -fx-font-color: rgb(0,100,100);
}
.button {
    -fx-background-color: none;
}

.button:hover {
    -fx-graphic: url("../views/views/img/existingplayer-hover.png");
}