/*
Font colors:
rgb(0,100,100)

BG colors:
rgb(236, 196, 0)
*/

.root, .label{
    -fx-background: rgb(236, 196, 0);
    -fx-font-family: "Calibri";
    -fx-font-size: 25pt;
    -fx-text-fill: rgb(0,100,100);
}
.tfPlayer {
    -fx-font-size: 18pt;
}

.button {
    -fx-background-color: none;
    -fx-font-family: "Calibri";
    -fx-font-size: 26pt;
    -fx-text-fill: rgb(0,100,100);
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: white;
}

.button:pressed {
    -fx-text-fill: black;
}
.inputError {
    -fx-font-size: 14pt;
    -fx-text-fill: darkred;
}

.backButton:hover {
    -fx-graphic: url("../views/views/img/left-arrow-hover.png");
}
.backButton:pressed {
    -fx-graphic: url("../views/views/img/left-arrow-pressed.png");
}

/* High Scores */
.hsColumnNames {
     -fx-font-family: "PT Sans Narrow";
     -fx-font-size: 14pt;
 }

.hsColumnFillRanks {
    -fx-font-size: 16pt;
    -fx-font-family: "PT Sans";
    -fx-font-weight: bold;
}

.hsColumnFill {
    -fx-font-size: 16pt;
    -fx-font-family: "PT Sans Narrow";
    -fx-font-weight: lighter;
}