/*
Font colors:
#006464

BG colors:
#ECC400
BG darker:
#D7B407
*/

/* ========== General ========== */
.root, .label {
    -fx-background: #ECC400;
    -fx-font-family: "Calibri";
    -fx-font-size: 25pt;
    -fx-text-fill: #006464;
}

.button {
    -fx-background-color: none;
    -fx-cursor: hand;
}

/*  ========== StartView ========== */
.tfPlayer {
    -fx-font-size: 18pt;
    -fx-background-radius: 5;
}

.btnStartView {
    -fx-content-display: top;
    -fx-font-family: "Calibri";
    -fx-font-size: 24pt;
    -fx-text-fill: #006464;
    -fx-graphic-text-gap: 10px;
}

.btnStartView:hover {
    -fx-text-fill: white;
}

.btnStartView:pressed {
    -fx-text-fill: black;

}

/* ========== GameView ========== */
.inGameScore {
    -fx-font-size: 16pt;
    -fx-text-fill: white;
}
.lblScoreAnimation {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

.btnRestart {
    -fx-graphic: url("../img/restart.png");
}

.btnRestart:hover {
    -fx-graphic: url("../img/restart-hover.png");
}

.btnUndo {
    -fx-graphic: url("../img/undo.png");
}

.btnUndo:hover {
    -fx-graphic: url("../img/undo-hover.png");
}

.btnHighScores {
    -fx-graphic: url("../img/highscores.png");
}

.btnHighScores:hover {
    -fx-graphic: url("../img/highscores-hover.png");
}

.btnExit,.btnCancel {
    -fx-graphic: url("../img/exit.png");
}

.btnExit:hover {
    -fx-graphic: url("../img/exit-hover.png");
}

.btnCancel:hover {
    -fx-graphic: url("../img/cancel-hover.png");
}
.btnAccept {
    -fx-graphic: url("../img/accept.png");
}
.btnAccept:hover {
    -fx-graphic: url("../img/accept-hover.png");
}

/* ========== NewPlayerView & ExistingPlayerView ========== */
.btnGoBack {
    -fx-background-color: none;
    -fx-graphic: url("../img/goback.png");
    -fx-cursor: hand;
}

.btnGoBack:hover {
    -fx-graphic: url("../img/goback-hover.png");
}

.inputError {
    -fx-font-size: 14pt;
    -fx-text-fill: darkred;
}


/* ========== AboutView ========== */
.lblHeader {
    -fx-font-family: 'Clear Sans';
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lblExplanation {
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
    -fx-padding: 20px;
}
.toggle-button {
    -fx-graphic: url("../img/togglebutton.png");
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-padding: 10px;
}
.toggle-button:selected {
    -fx-graphic: url("../img/togglebutton-selected.png");
}

/* ========== HighScoreView ========== */
.hsHeader {
    -fx-text-fill: white;
    -fx-graphic: url("../img/cup.png");
    -fx-graphic-text-gap: 20px;
}

.hsColumnNames {
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

.hsColumnFillRanks {
    -fx-font-size: 16pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

.hsColumnFill {
    -fx-font-size: 16pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: lighter;
}

.hsActivePlayer {
    -fx-text-fill: white;
}

/* ========== ResultView ========== */

.lblResult {
    -fx-font-family: 'Clear Sans';
    -fx-font-size: 45pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lblResultScore {
    -fx-font-family: 'Clear Sans';
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}